*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
.add {
  font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;	
	font-size: 16px;
	line-height: 19px;
	width: 100%;	
}

/*---------- Шапка ----------------*/
.header{
	display: flex;
	align-items: center;
	background-color: #FFFFFF;	
	width: 100%;
	border-bottom: 1px solid #010541;
	height: 80px;	
	position: fixed;
	z-index: 1;	
}
.header-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;	
	width: 100%;
  margin: 0 auto;  
	max-width: 1400px;	
}
.header__logo{
	display: flex;
	align-items: center;
	gap: 10px;
}
.header__img {
  height: 43px;
	width: 36px;
	padding-bottom: 5px;
}
.header h1{
  font-size: 44px;
}
.header__title_red {
  color: red;
}
.header-button{
	margin: 0 12px;
	position: relative;
	cursor: pointer;
	background-color: #FFFFFF;
}
	

.header-button:focus{
	border: 0;
}
.header-button__counter{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #DA4A0C;
	border-radius: 50px;
	width: 14px;
	height: 14px;
	position: absolute;
	left: 30px;
	top: -5px;
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
	background: #DA4A0C;
	color: #FFFFFF;
}
/*------------------------------------*/


.main{
	display: flex;
	flex-direction: column;
	max-width: 1400px;
	width: 100%;
  margin: 0 auto;
	padding: 90px 0 0;
	gap: 30px;
	
}

/*---------------------------------------*/
.bread-crumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
}
.bread-crumbs__link {
  color: #008cf0; 
  font-size: 16px;
	text-decoration:none;
}
.bread-crumbs__link:hover{
	color: #F36223;
}
/*---------------Название продукта-----------------------*/

.product{
	display: flex;
	flex-direction: column;
	
}
.product-name{
	margin-bottom: 30px;
}
.product-name__name{
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	
}
.product-foto{
	display: flex;
	flex-direction: row;
	align-items: center;	
	gap: 10px;		
}
.product-foto__img{
	height: 387px;
}
/*---------------------------------------*/

.product-wraper {
	display: flex;
	justify-content: flex-start;
	/* margin-bottom: 20px; */
	gap: 100px;
}
/*----------------------------------------*/
.product-page{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 30px;
}

/*------------------ Цвет ----------------------*/
.color{
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
	gap: 15px;		
	
}
.color__title{
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}
.color__wraper{
	display: flex;
  gap: 10px;	
}
.color__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  outline: 1px solid #888888;
  border-radius: 4px;  
  gap: 10px;
}
.color__btn:hover{
	background-color: #f2f2f2;
	cursor: pointer;
}
.color__input[type="radio"]:checked+label{
	outline: 1px solid #F36223;
	
}	
.color__input[type="radio"]:active+label{
	outline: 1px solid #A93A09;
	background-color: #ffff;
}
.color__input{
	display: none;
}
/*------------------ Конфигурация ---------------*/
.configuration{	
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
	gap: 15px;					
	}
	.configuration__title{
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
	}
.configuration__wraper{
	display: flex;
  gap: 10px;
	margin-top: 15px;	
}
.configuration__btn{
	padding: 10px 20px;	
	font-weight: 500;
	outline: 1px solid #888888;
	border-radius: 4px;
	background-color: #ffff;	
}
.configuration__btn:hover{
	background-color: #f2f2f2;
	cursor: pointer;
}
.configuration__input[type="radio"]:checked+label{
	outline: 1px solid #F36223;
	
}
.configuration__input[type="radio"]:active+label{
	outline: 1px solid #A93A09;
	background-color: #ffff;
}
.configuration__input{
	display: none;
}

/*----------------- Характеристики--------------------------*/
.characteristics{
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
	gap: 15px;		
}
.characteristics__title{
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}
.characteristics__list{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.characteristics__list div{
	display: flex;
	align-items: center;
	gap: 10px;
}
.characteristics__list div::before{
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;	
	background-color: #888888;
}
.characteristics__list_bold{
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}
.characteristics__link{
	color: #008cf0; 
  font-size: 16px;
	text-decoration:none;
}

.characteristics__link:hover{
	color: #F36223;
}
/*------------------ Описание -----------------------*/
.description{
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
	gap: 15px;	
}
.description__name{
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}
.description__list{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.description__list_italics{
	font-style: italic;
	font-weight: 400;
}
.description__text{
	display: flex;
	flex-direction: column;
	gap: 15px;	
}

/*-----------------------Отзывы-------------------------------*/

.reviews{
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;	
	width: 880px;
	gap: 25px;
}
.rewiews__wraper{
	display: flex;	
	justify-content: space-between;
	padding-top: 20px;
}
.reviews__header{
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	gap: 10px;	
}
.reviews__amount{
	color: #888888;	
}

.review-list{
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}

.review{
	display: flex;	
	flex-direction: column;
	gap: 40px;
}
.review__wraper{
	display: flex;
	flex-direction: row;
	gap: 30px;	
}
.review__foto{
	
	width: 140px;
	height: 140px;
} 
.review__content{
	display: flex;
	flex-direction: column;
	gap: 20px;
	
}
.review__header{
	display: flex;
	flex-direction: column;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	gap: 10px;	
}
.review__img{
	width: 150px;
	height: 30px;
}
.review__text{
	display: flex;
	flex-direction: column;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	gap: 10px;
}
.review__text_bold{	
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
}
.review:not(:last-child)::after{	
  content: '';
	display: block;
	width: 710px;
	border-bottom: 1px dashed #888888;
	margin-left: 170px;
}
/*----------------Форма--------------*/

.review-form{
	display: flex;
	flex-direction: column;	
	gap: 15px;
	padding-left: 170px;
	margin-bottom: 100px;
	width: 880px;
}
.review-form__title{
	font-weight: 700;
}
.review-form__first-line{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 40px;	
}
.review-form__name{
	border: 1px solid #888888;
	background-color:white;
	padding: 15px 20px;
	width: 495px;
	height: 49px;
}
.review-form__grade{
	border: 1px solid #888888;
	padding: 15px 20px;
	width: 175px;
	height: 49px;
}
	.review-form__text{
	border: 1px solid #888888;
	padding: 10px 20px;
	margin: 10px 0;
	width: 710px;
	height: 190px;
	resize: none;
}

.review-form__button{
	background: #F36223;
	border-radius: 4px;
	padding: 0px 20px;
	width: 177px;
	height: 39px;
	color: #FFFFFF;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

.review-form ::placeholder{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;	
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
	appearance: none;
  margin: 0;
}

.review-form__name:hover,:focus{
	border: 1px solid #000000;
	outline: none;
}
.review-form__grade:hover,:focus{
	border: 1px solid #000000;
	outline: none;
}
.review-form__text:hover,:focus {
	border: 1px solid #000000;
	outline: none;
} 
.review-form__button:hover {
	background: #DA4A0C;
	border: 0;
}
.review-form__button:active {
	background: #A93A09;
}

.input-name{
	width: 495px;
}
.input-grade{
	width: 175px;
}


.error {	
	border: 1px solid #F36223;
	padding: 2px 20px;
	color: #EEEEEE;
	background: #DA4A0C;
	position: absolute;
	font-size: 14px;
	width: inherit;
}

/*------------------Сравнение------------*/
.comparison{
	display: flex;
	flex-direction: column;
	font-weight: 400;
	gap: 15px;
}
.comparison__name{
	font-weight: 700;
}
.comparison-table{
	border-collapse: collapse;	
	border: 1px solid #888888;
}
.comparison-table__thead{
	border-bottom: 1px solid #888888;
}
.comparison-table__cell:not(:last-child) {
	border-right: 1px solid #888888;
}
.comparison-table tr{
	height: 40px;
}
.comparison-table tbody td{
	text-align: center;
	padding: 10px
}
.comparison-table tbody tr:hover{
	background: #f2f2f2;
	cursor: pointer;
}

/*----------------Сайтбар------------------------*/
.sidebar{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;
	width: 420px;
	height: 957px;	
	flex-shrink: 0;
}
/*-----------------Реклама-------------*/
.advertising{
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
	gap: 15px;	
	height: 300px;	
	border: 1px;
}
.advertising__title{
	font-size: 14px;
	color: #888888;
}
.advertising__iframe{
	width: 420px;
	height: 300px;
	border: 1px dashed #989898;	
}

/*---------------Ценник-------------------------*/
.price{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;	
	gap: 15px;
	padding: 20px;
	width: 420px;
	height: 275px;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}
.price__price-old-wraper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.price__price-old{
	display: flex;	
	flex-direction: row;	
	align-items: center;
	font-weight: 500;	
	line-height: 16px;	
	gap: 10px;	
}

.price__icon-heart:hover{
	fill: #F36223;
	cursor: pointer;
}
.price__icon-heart:active{
	border: none;
	outline: none;
	fill: #A93A09;
}
.price__price-old_crossed-out{
	color: #888888;
	text-decoration: line-through;
	padding: 4px 8px;	
}
.price__discount{
	background: #F36223;
	color: #FFFFFF;	
	border-radius: 500px;
	padding: 4px 8px;		
}
.price__price-new_bold{
	font-weight: 800;
	font-size: 32px;
	line-height: 39px;	
}
.price__delivery{
	display: flex;
	flex-direction: column;
	font-weight: 400;
	gap: 5px;
	padding: 0px 0px 20px;
}  
.price__delivery_bold{
	font-weight: 700;
}
.price__inbasket-wraper{
	display: flex;
	align-items: center;
	position: relative;
}
.price__inbasket{
	background: #F36223;
	border-radius: 4px;
	color: #FFFFFF;	
	font-size: 20px;
	width:100%;
	height: 64px;
	border: none;	
}
.price__inbasket-wraper::before{
	content: url(../images/icon-basket.svg);
	position: absolute;
	left: 60px;
}
.price__inbasket:hover{
	background: #da4a0c;
	cursor: pointer;
	border: none;	
}
.price__inbasket:active{
	background: #A93A09;
}
/*----------------Подвал---------------*/
.footer{	
	background-color: #f2f2f2;	
	width: 100%;
	  
}

.footer-wraper{	
	display: flex;
	justify-content: space-between;	
	align-items: center;
	max-width: 1400px;
	padding: 30px 0;  	
  margin: 0 auto;	
	font-weight:400;
	font-size:14px;
	line-height:16.94px;
}
.footer__copyright{
	display: flex;
	flex-direction: column;
}
.footer__copyright_bold{
	font-weight: 700;	
}
.footer__copyright_red{
	color: #f52;
}
.footer__link{
	color: #008cf0;
	line-height: 19px;
	text-decoration:none;
	font-size:16px;
}
.footer__link:hover{
	color: #F36223;
}
/*__________________________________*/
@media (max-width: 1499px) {
	.comparison{
		display: none;
	}
}

@media (min-width: 1024px) and (max-width: 1500px) {
	
	.product-foto__img{		
		height: 272px;	
	}


	.main, .header-wraper,.footer-wraper{
		max-width: 994px;
	}
	.product-wraper {
		gap: 40px;
	}
	.reviews{		
		width: 594px;		
	}
	.review__foto{	
		width: 100px;
		height: 100px;
	} 
.sidebar{
	width: 360px;
}
.review-form{
	padding-left: 0px;
}*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
.add {
  font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;	
	font-size: 16px;
	line-height: 19px;
	width: 100%;	
}

/*---------- Шапка ----------------*/
.header{
	display: flex;
	align-items: center;
	background-color: #FFFFFF;	
	width: 100%;
	border-bottom: 1px solid #010541;
	height: 80px;	
	position: fixed;
	z-index: 1;	
}
.header-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;	
	width: 100%;
  margin: 0 auto;  
	max-width: 1400px;	
}
.header__logo{
	display: flex;
	align-items: center;
	gap: 10px;
}
.header__img {
  height: 43px;
	width: 36px;
	padding-bottom: 5px;
}
.header h1{
  font-size: 44px;
}
.header__title_red {
  color: red;
}
.header-button{
	margin: 0 12px;
	position: relative;
	cursor: pointer;
	background-color: #FFFFFF;
}
	

.header-button:focus{
	border: 0;
}
.header-button__counter{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #DA4A0C;
	border-radius: 50px;
	width: 14px;
	height: 14px;
	position: absolute;
	left: 30px;
	top: -5px;
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
	background: #DA4A0C;
	color: #FFFFFF;
}
/*------------------------------------*/


.main{
	display: flex;
	flex-direction: column;
	max-width: 1400px;
	width: 100%;
  margin: 0 auto;
	padding: 90px 0 0;
	gap: 30px;
	
}

/*---------------------------------------*/
.bread-crumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
}
.bread-crumbs__link {
  color: #008cf0; 
  font-size: 16px;
	text-decoration:none;
}
.bread-crumbs__link:hover{
	color: #F36223;
}
/*---------------Название продукта-----------------------*/

.product{
	display: flex;
	flex-direction: column;
	
}
.product-name{
	margin-bottom: 30px;
}
.product-name__name{
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	
}
.product-foto{
	display: flex;
	flex-direction: row;
	align-items: center;	
	gap: 10px;		
}
.product-foto__img{
	height: 387px;
}
/*---------------------------------------*/

.product-wraper {
	display: flex;
	justify-content: flex-start;
	/* margin-bottom: 20px; */
	gap: 100px;
}
/*----------------------------------------*/
.product-page{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 30px;
}

/*------------------ Цвет ----------------------*/
.color{
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
	gap: 15px;		
	
}
.color__title{
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}
.color__wraper{
	display: flex;
  gap: 10px;	
}
.color__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  outline: 1px solid #888888;
  border-radius: 4px;  
  gap: 10px;
}
.color__btn:hover{
	background-color: #f2f2f2;
	cursor: pointer;
}
.color__input[type="radio"]:checked+label{
	outline: 1px solid #F36223;
	
}	
.color__input[type="radio"]:active+label{
	outline: 1px solid #A93A09;
	background-color: #ffff;
}
.color__input{
	display: none;
}
/*------------------ Конфигурация ---------------*/
.configuration{	
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
	gap: 15px;					
	}
	.configuration__title{
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
	}
.configuration__wraper{
	display: flex;
  gap: 10px;
	margin-top: 15px;	
}
.configuration__btn{
	padding: 10px 20px;	
	font-weight: 500;
	outline: 1px solid #888888;
	border-radius: 4px;
	background-color: #ffff;	
}
.configuration__btn:hover{
	background-color: #f2f2f2;
	cursor: pointer;
}
.configuration__input[type="radio"]:checked+label{
	outline: 1px solid #F36223;
	
}
.configuration__input[type="radio"]:active+label{
	outline: 1px solid #A93A09;
	background-color: #ffff;
}
.configuration__input{
	display: none;
}

/*----------------- Характеристики--------------------------*/
.characteristics{
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
	gap: 15px;		
}
.characteristics__title{
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}
.characteristics__list{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.characteristics__list div{
	display: flex;
	align-items: center;
	gap: 10px;
}
.characteristics__list div::before{
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;	
	background-color: #888888;
}
.characteristics__list_bold{
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}
.characteristics__link{
	color: #008cf0; 
  font-size: 16px;
	text-decoration:none;
}

.characteristics__link:hover{
	color: #F36223;
}
/*------------------ Описание -----------------------*/
.description{
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
	gap: 15px;	
}
.description__name{
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}
.description__list{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.description__list_italics{
	font-style: italic;
	font-weight: 400;
}
.description__text{
	display: flex;
	flex-direction: column;
	gap: 15px;	
}

/*-----------------------Отзывы-------------------------------*/

.reviews{
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;	
	width: 880px;
	gap: 25px;
}
.rewiews__wraper{
	display: flex;	
	justify-content: space-between;
	padding-top: 20px;
}
.reviews__header{
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	gap: 10px;	
}
.reviews__amount{
	color: #888888;	
}

.review-list{
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}

.review{
	display: flex;	
	flex-direction: column;
	gap: 40px;
}
.review__wraper{
	display: flex;
	flex-direction: row;
	gap: 30px;	
}
.review__foto{
	
	width: 140px;
	height: 140px;
} 
.review__content{
	display: flex;
	flex-direction: column;
	gap: 20px;
	
}
.review__header{
	display: flex;
	flex-direction: column;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	gap: 10px;	
}
.review__img{
	width: 150px;
	height: 30px;
}
.review__text{
	display: flex;
	flex-direction: column;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	gap: 10px;
}
.review__text_bold{	
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
}
.review:not(:last-child)::after{	
  content: '';
	display: block;
	width: 710px;
	border-bottom: 1px dashed #888888;
	margin-left: 170px;
}
/*----------------Форма--------------*/

.review-form{
	display: flex;
	flex-direction: column;	
	gap: 15px;
	padding-left: 170px;
	margin-bottom: 100px;
	width: 880px;
}
.review-form__title{
	font-weight: 700;
}
.review-form__first-line{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 40px;	
}
.review-form__name{
	border: 1px solid #888888;
	background-color:white;
	padding: 15px 20px;
	width: 495px;
	height: 49px;
}
.review-form__grade{
	border: 1px solid #888888;
	padding: 15px 20px;
	width: 175px;
	height: 49px;
}
	.review-form__text{
	border: 1px solid #888888;
	padding: 10px 20px;
	margin: 10px 0;
	width: 710px;
	height: 190px;
	resize: none;
}

.review-form__button{
	background: #F36223;
	border-radius: 4px;
	padding: 0px 20px;
	width: 177px;
	height: 39px;
	color: #FFFFFF;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

.review-form ::placeholder{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;	
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
	appearance: none;
  margin: 0;
}

.review-form__name:hover,:focus{
	border: 1px solid #000000;
	outline: none;
}
.review-form__grade:hover,:focus{
	border: 1px solid #000000;
	outline: none;
}
.review-form__text:hover,:focus {
	border: 1px solid #000000;
	outline: none;
} 
.review-form__button:hover {
	background: #DA4A0C;
	border: 0;
}
.review-form__button:active {
	background: #A93A09;
}

.input-name{
	width: 495px;
}
.input-grade{
	width: 175px;
}


.error {	
	border: 1px solid #F36223;
	padding: 2px 20px;
	color: #EEEEEE;
	background: #DA4A0C;
	position: absolute;
	font-size: 14px;
	width: inherit;
}

/*------------------Сравнение------------*/
.comparison{
	display: flex;
	flex-direction: column;
	font-weight: 400;
	gap: 15px;
}
.comparison__name{
	font-weight: 700;
}
.comparison-table{
	border-collapse: collapse;	
	border: 1px solid #888888;
}
.comparison-table__thead{
	border-bottom: 1px solid #888888;
}
.comparison-table__cell:not(:last-child) {
	border-right: 1px solid #888888;
}
.comparison-table tr{
	height: 40px;
}
.comparison-table tbody td{
	text-align: center;
	padding: 10px
}
.comparison-table tbody tr:hover{
	background: #f2f2f2;
	cursor: pointer;
}

/*----------------Сайтбар------------------------*/
.sidebar{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;
	width: 420px;
	height: 957px;	
	flex-shrink: 0;
}
/*-----------------Реклама-------------*/
.advertising{
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
	gap: 15px;	
	height: 300px;	
	border: 1px;
}
.advertising__title{
	font-size: 14px;
	color: #888888;
}
.advertising__iframe{
	width: 420px;
	height: 300px;
	border: 1px dashed #989898;	
}

/*---------------Ценник-------------------------*/
.price{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;	
	gap: 15px;
	padding: 20px;
	width: 420px;
	height: 275px;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}
.price__price-old-wraper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.price__price-old{
	display: flex;	
	flex-direction: row;	
	align-items: center;
	font-weight: 500;	
	line-height: 16px;	
	gap: 10px;	
}

.price__icon-heart:hover{
	fill: #F36223;
	cursor: pointer;
}
.price__icon-heart:active{
	border: none;
	outline: none;
	fill: #A93A09;
}
.price__price-old_crossed-out{
	color: #888888;
	text-decoration: line-through;
	padding: 4px 8px;	
}
.price__discount{
	background: #F36223;
	color: #FFFFFF;	
	border-radius: 500px;
	padding: 4px 8px;		
}
.price__price-new_bold{
	font-weight: 800;
	font-size: 32px;
	line-height: 39px;	
}
.price__delivery{
	display: flex;
	flex-direction: column;
	font-weight: 400;
	gap: 5px;
	padding: 0px 0px 20px;
}  
.price__delivery_bold{
	font-weight: 700;
}
.price__inbasket-wraper{
	display: flex;
	align-items: center;
	position: relative;
}
.price__inbasket{
	background: #F36223;
	border-radius: 4px;
	color: #FFFFFF;	
	font-size: 20px;
	width:100%;
	height: 64px;
	border: none;	
}
.price__inbasket-wraper::before{
	content: url(../images/icon-basket.svg);
	position: absolute;
	left: 60px;
}
.price__inbasket:hover{
	background: #da4a0c;
	cursor: pointer;
	border: none;	
}
.price__inbasket:active{
	background: #A93A09;
}
/*----------------Подвал---------------*/
.footer{	
	background-color: #f2f2f2;	
	width: 100%;
	  
}

.footer-wraper{	
	display: flex;
	justify-content: space-between;	
	align-items: center;
	max-width: 1400px;
	padding: 30px 0;  	
  margin: 0 auto;	
	font-weight:400;
	font-size:14px;
	line-height:16.94px;
}
.footer__copyright{
	display: flex;
	flex-direction: column;
}
.footer__copyright_bold{
	font-weight: 700;	
}
.footer__copyright_red{
	color: #f52;
}
.footer__link{
	color: #008cf0;
	line-height: 19px;
	text-decoration:none;
	font-size:16px;
}
.footer__link:hover{
	color: #F36223;
}
/*__________________________________*/
@media (max-width: 1499px) {
	.comparison{
		display: none;
	}
}

@media (min-width: 1024px) and (max-width: 1500px) {
	
	.product-foto__img{		
		height: 272px;	
	}


	.main, .header-wraper,.footer-wraper{
		max-width: 994px;
	}
	.product-wraper {
		gap: 40px;
	}
	.reviews{		
		width: 594px;		
	}
	.review__foto{	
		width: 100px;
		height: 100px;
	} 
.sidebar{
	width: 360px;
}
.review-form{
	padding-left: 0px;
}
.review:not(:last-child)::after{
	width: 464px;
	margin-left:  130px;
}
.review__img{
	width: 100px;
	height: 20px;
}
.advertising__iframe{
	width: 360px;
	height: 300px;	
}
.price{
	width: 360px;
	height: 313px;
}
.price__inbasket-wraper::before{	
	left: 30px;
}
}
.review:not(:last-child)::after{
	width: 464px;
	margin-left:  130px;
}
.review__img{
	width: 100px;
	height: 20px;
}
.advertising__iframe{
	width: 360px;
	height: 300px;	
}
.price{
	width: 360px;
	height: 313px;
}
.price__inbasket-wraper::before{	
	left: 30px;
}
}