.bread-crumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
}
.link:not(:last-child)::after {
  content: " > ";
  color: black;  
}


@media (min-width: 1024px) and (max-width: 1500px) {
  .bread-crumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
  }
  .bread-crumbs__link {
    color: #008cf0;
    font-size: 16px;
    text-decoration: none;
  }
  .bread-crumbs__link:hover {
    color: #f36223;
  }


}
