.price__inbasket-wraper {
  display: flex;
  align-items: center;
  position: relative;
}
.price__inbasket-img {
  position: absolute;
  left: 60px;
  bottom: 21px;
}
.price__inbasket_grey {
  background: #888888;
  border-radius: 4px;
  color: #ffffff;
  font-size: 20px;
  width: 100%;
  height: 64px;
  border: none;
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .price__inbasket-img {
    left: 30px;
  }
}
@media (min-width: 360px) and (max-width: 1023px) {
  .price__inbasket_grey {
    font-size: 16px;
    height: 54px;
    left: 20px;
  }
  .price__inbasket-img {
    
    left: 40px;
    bottom: 15px;
  }
}