.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .description__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
  .description__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .description__list_italics {
    font-style: italic;
    font-weight: 400;
  }
  .description__text {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  