.footer {
  display: flex;
  background: #f2f2f2;
  width: 100%;
  padding: 0px 15px;
}

.footer-wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  padding: 30px 0;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.footer__copyright {
  display: flex;
  flex-direction: column;
}
.footer__copyright_bold {
  font-weight: 700;
}
.footer__copyright_red {
  color: #f52;
}
.footer__link {
  color: #008cf0;
  line-height: 19px;
  text-decoration: none;
  font-size: 16px;
}
.footer__link:hover {
  color: #f36223;
}
@media  (max-width: 360px) { 
  .footer-wraper {
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0px;
    gap: 20px;
  }
  .footer {
  padding: 0px 10px;
  }
}