.color {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.color__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.color__wraper {
  display: flex;
  gap: 10px;
}
.color__btn {
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
  width: 80px;
  height: 80px;
  outline: 1px solid #888888;
  background-color: #ffff;
  border-radius: 4px;
  
  cursor: pointer;
}

.color__btn_select {
  outline: 2px solid #f36223;
}
.color__btn:hover {
  background-color: #f2f2f2;
}
/* .color__input[type="radio"]:checked + label {
    outline: 1px solid #f36223;
  }
  .color__input[type="radio"]:active + label {
    outline: 1px solid #a93a09;
    background-color: #ffff;
  }
  .color__input {
    display: none;
  } */
