.price__inbasket-wraper {
  display: flex;
  align-items: center;
  position: relative;
}
.price__inbasket-img {
  position: absolute;
  left: 60px;
  bottom: 21px;
}
.price__inbasket_carront {
  background: #f36223;
  border-radius: 4px;
  color: #ffffff;
  font-size: 20px;
  width: 100%;
  height: 64px;
  border: none;
}
.price__inbasket_carront:hover {
  background: #da4a0c;
  cursor: pointer;
  border: none;
}

.price__inbasket_carront:active {
  background: #a93a09;
}
.price {
  width: 360px;
  height: 313px;
}


@media (min-width: 360px) and (max-width: 1023px) {
  .price__inbasket_carront {
    font-size: 16px;
    height: 54px;
   
  }
  .price__inbasket-img{
    left: 40px;
  bottom: 15px;
  }
}