.header {
  display: flex;
  width: 100%;  
  height: 80px;
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
}
.header-wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
  
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
}
.header__logo_img {
  height: 55px;
  width: 33px;
  padding-bottom: 12px;
}
.header span {
  font-size: 44px;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
}
.header__title_red {
  color: red;
}
.header-button {
  display: flex;
  gap: 20px;
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
}

.header-button__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #da4a0c;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  position: absolute;
  
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  background: #da4a0c;
  color: #ffffff;
}
.cart{
  left: 105px;
  top: 0px;
}
.favorits{
  left: 35px;
  top: 0px;
}

@media (min-width: 1024px) and (max-width: 1500px) {

  .header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 1px solid #010541;
    height: 80px;
    position: fixed;
    z-index: 1;
  }
  .header-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
  }
  .header__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header__img {
    height: 43px;
    width: 36px;
    padding-bottom: 5px;
  }
  .header h1 {
    font-size: 44px;
  }
  .header__title_red {
    color: red;
  }
  .header-button {
    margin: 0 12px;
    position: relative;
    cursor: pointer;
    background-color: #ffffff;
  }

  .header-button:focus {
    border: 0;
  }
  .header-button__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #da4a0c;
    border-radius: 50px;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 30px;
    top: -5px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    background: #da4a0c;
    color: #ffffff;
  }

}
@media  (max-width: 360px) { 

}