
/*-----------------Реклама-------------*/
.advertising {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  height: 300px;
  border: 1px;
}
.advertising__title {
  font-size: 14px;
  color: #888888;
}
.advertising__iframe {
  width: 420px;
  height: 300px;
  border: 1px dashed #989898;
}

/*---------------Ценник-------------------------*/
.price {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 15px;
  padding: 20px;
  width: 420px;
  height: 275px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.price__price-old-wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price__price-old {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  line-height: 16px;
  gap: 10px;
}

.price__icon-heart:hover {
  fill: #f36223;
  cursor: pointer;
}
.price__icon-heart:active {
  border: none;
  outline: none;
  fill: #a93a09;
}
.price__price-old_crossed-out {
  color: #888888;
  text-decoration: line-through;
  padding: 4px 8px;
}
.price__discount {
  background: #f36223;
  color: #ffffff;
  border-radius: 500px;
  padding: 4px 8px;
}
.price__price-new_bold {
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
}
.price__delivery {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  gap: 5px;
  padding: 0px 0px 20px;
}

.price__delivery_bold {
  font-weight: 700;
}



@media (min-width: 1024px) and (max-width: 1500px) {
  .advertising__iframe {
    width: 360px;
    height: 300px;
  }
  .price {
    width: 360px;
    height: 313px;
  }
}

@media (min-width: 360px) and (max-width: 1023px) {
 
  .advertising__iframe,
  .advertising,
  .advertising__title {
    display: none;
  }
  .price {
    width: 338px;
    height: 275px;
  }
  .price__delivery {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    gap: 5px;
    padding: 0px ;
    font-size: 14px;
  }
  .price {
    gap: 10px;
  }
  }