.configuration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.configuration__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.configuration__wraper {
  display: flex;
  gap: 10px;
}
.configuration__btn {
  padding: 10px 20px;
  font-weight: 500;
  outline: 1px solid #888888;
  background-color: #ffff;
  border-radius: 4px;
  
  cursor: pointer;
}
.configuration__btn_select {
  outline: 2px solid #f36223;
}
.configuration__btn:hover {
  background-color: #f2f2f2;
}
