.characteristics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .characteristics__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
  .characteristics__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .characteristics__list div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .characteristics__list div::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #888888;
  }
  .characteristics__list_bold {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
  .characteristics__link {
    color: #008cf0;
    font-size: 16px;
    text-decoration: none;
  }
  
  .characteristics__link:hover {
    color: #f36223;
  }