.main {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 15px 0;
  gap: 30px;
}

.product-wraper {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
}

.product-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
}

.product-name {
  margin-bottom: 30px;
}

.product-name__name {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
.product-foto {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.product-foto__img {
  height: 387px;
}

.form {
  margin-bottom: 100px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 420px;
  height: 957px;
  flex-shrink: 0;
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .sidebar {
    width: 360px;
  }

  .product-foto__img {
    height: 272px;
  }
  .main,
  .header-wraper,
  .footer-wraper {
    max-width: 994px;
  }
}

@media (min-width: 360px) and (max-width: 1023px) {
  .sidebar {
    width: 338px;
    height: 275px;
  }
  
  .product-wraper {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
  }
  .product-foto__img {
    height: 272px;
  }
}
