.review-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 0 0 0 170px;
  width: 880px;
}
.review-form__title {
  font-weight: 700;
}
.eview-form__input {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.review-form__first-line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}
.review-form__name {
  border: 1px solid #888888;
  background-color: white;
  padding: 15px 20px;
  width: 495px;
  height: 49px;
}
.review-form__grade {
  border: 1px solid #888888;
  padding: 15px 20px;
  width: 175px;
  height: 49px;
}
.review-form__text {
  border: 1px solid #888888;
  padding: 10px 20px;
  width: 710px;
  height: 190px;
  resize: none;
}

.review-form__button {
  background: #f36223;
  border-radius: 4px;
  padding: 0px 20px;
  width: 177px;
  height: 39px;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.review-form ::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.review-form__button:hover {
  background: #da4a0c;
  border: 0;
}
.review-form__button:active {
  background: #a93a09;
}

.input-name {
  width: 495px;
}
.input-grade {
  width: 175px;
}

.error {
  padding: 6px 20px;
  color: #eeeeee;
  background: #da4a0c;
  position: absolute;
  font-size: 12px;
  width: inherit;
}
@media (min-width: 1024px) and (max-width: 1500px) {
  .review-form {
    padding: 0px;
    width: 594px;
    height: 372px;
  }
}
