.pi-div {
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgb(255, 255, 255);
	height: 100%;
    gap: 20px;
	
}

.pi-wrapper{
    margin: 0;
	height: 86vh;
    padding: 0 15px;
	

    
}
.link {
    color: #008cf0;
    font-size: 16px;
    text-decoration: none;
  }
  .link:hover {
    color: #f36223;
  }