.comparison {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    gap: 15px;
  }
  .comparison__name {
    font-weight: 700;
  }
  .comparison-table {
    border-collapse: collapse;
    border: 1px solid #888888;
  }
  .comparison-table__thead {
    border-bottom: 1px solid #888888;
  }
  .comparison-table__cell:not(:last-child) {
    border-right: 1px solid #888888;
  }
  .comparison-table tr {
    height: 40px;
  }
  .comparison-table tbody td {
    text-align: center;
    padding: 10px;
  }
  .comparison-table tbody tr:hover {
    background: #f2f2f2;
    cursor: pointer;
  }

  @media (max-width: 1499px) {
    .comparison {
      display: none;
    }
  }