.reviews {
    display: flex;
    flex-direction: column;    
    width: 880px;
    gap: 25px;
  }
 
  .reviews__header {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    gap: 10px;
  }
  .reviews__amount {
    color: #888888;
  }
  
  .review-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  
  .review {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .review__wraper {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .review__foto {
    width: 140px;
    height: 140px;
  }
  .review__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .review__header {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    gap: 10px;
  }
  .review__img {
    width: 30px;
    height: 30px;
  }
  .review__text {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    gap: 10px;
  }
  .review__text_bold {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
  .review:not(:last-child)::after {
    content: "";
    display: block;
    width: 710px;
    border-bottom: 1px dashed #888888;
    margin-left: 170px;
  }
 
 
  @media (min-width: 1024px) and (max-width: 1500px) {

 .reviews {
    width: 594px;
  }
  .review:not(:last-child)::after {
    width: 464px;
    margin-left: 130px;
  }
  .review__foto {
    width: 100px;
    height: 100px;
  }
 }
 @media (max-width: 360px) {

  
 }
